/*********************************/
/* Custom CSS for ElevateYourExpertisewithProfessionalScrumCertification.css
/*********************************/

body {
  background-image: url( '../../lib/img/global/logo_small.png' ), url( '../../lib/img/git/git-bg.jpg' ) !important;
  background-repeat:no-repeat, no-repeat !important;
  background-attachment: fixed, fixed !important;
  background-position: bottom left, center !important;
  -webkit-background-size: auto, cover !important;
  -moz-background-size: auto, cover !important;
  -o-background-size: auto, cover !important;
  background-size: 100px 100px, cover !important;
  font-family: 'Raleway';
}

#logo-title {
	height: 100px !important;
}

.git-font {
	font-family: Courier, monospace, sans-serif !important;
	font-weight: bold;
}

#fcc-logo {
	width: 300px;
}

img[alt=small-team-devs] {
	background: white;
}

img[alt=aps-sd-wordcloud] {
    height: 500px;
}

img[alt=qr-techelevator-scrum-class] {
    height: 350px;
}
