/*********************************/
/* Custom CSS for How To Write A Recipe For Automated Testing
/*********************************/

body {
  background-image: url( '../../lib/img/global/logo_small.png' ), url( '../../lib/img/IIBA/title-background.png' );
  background-repeat:no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: bottom left, center;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-size: 100px 100px, cover;
}

#logo-title-automated-testing {
	border:0;
	background: white;
	width: 400px;
}

img[alt=testing-pyramid-image] {
	width: 75%;
	height: 75%;
}

img[alt=dev-qa] {
	height: 400px;
}

img[alt=vuca-sign] {
	height: 400px;
}

img[alt=think-about-it] {
	height: 400px;
}

img[alt=taxonomy-terminology] {
	width: 750px;
}

/* classic half-screen layout */
#left-split-no-fixed-width {
  left:-8.33%;
  text-align: left;
  float: left;
  z-index:-10;
}

#right-split-no-fixed-width {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
}