/*********************************/
/* Custom CSS for How To Write A Recipe For Automated Testing
/*********************************/

body {
  background-image: url( '../../lib/img/global/logo_small.png' ), url( '../../lib/img/IIBA/title-background.png' ) !important;
  background-repeat:no-repeat, no-repeat !important;
  background-attachment: fixed, fixed !important;
  background-position: bottom left, center !important;
  -webkit-background-size: auto, cover !important;
  -moz-background-size: auto, cover !important;
  -o-background-size: auto, cover !important;
  background-size: 100px 100px, cover !important;
}

#logo-title-automated-testing {
	border:0;
	background: white;
	width: 400px;
}

img[alt=testing-pyramid-image] {
	width: 65%;
	height: 65%;
	background: white;
}

img[alt=dev-qa] {
	height: 400px;
}

img[alt=vuca-sign] {
	height: 400px;
}

img[alt=sor] {
	width: 600px;
}

img[alt=onboarding] {
	width: 600px;
}

img[alt=devops-culture] {
	width: 650px;
}

img[alt=think-about-it] {
	height: 400px;
}

img[alt=taxonomy-terminology] {
	height: 500px;
}

img[alt=defect-management-process] {
	height: 400px;
}

img[alt=jira] {
	height: 235px;
}
img[alt=taxonomy-terminology] {
	width: 750px;	
}

img[alt=xray-pres] {
	height: 400px;
}

img[alt=post-its] {
	height: 250px;
	margin-top: 25%
}

#img-taxonomy-example-3 {
	height: 300px;
}

/* classic half-screen layout */
#left-split-no-fixed-width {
  left:-8.33%;
  text-align: left;
  float: left;
  z-index:-10;
}

#right-split-no-fixed-width {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
}

#meeting-details {
	text-align: middle;
	font-size: 18pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#jamboard-activity {
	width: 65%;
	height: 85%;
}
