/*********************************/
/* Custom CSS for Automated Testing using Xray Test Management for Jira
/*********************************/

body {
  background-image: url( '../../lib/img/global/logo_small.png' ), url( '../../lib/img/atlassian/postits.png' ) !important;
  background-repeat:no-repeat, no-repeat !important;
  background-attachment: fixed, fixed !important;
  background-position: bottom left, center !important;
  -webkit-background-size: auto, cover !important;
  -moz-background-size: auto, cover !important;
  -o-background-size: auto, cover !important;
  background-size: 100px 100px, cover !important;
}

img[alt=xray-logo] {
	width: 300px;
	background: white !important;
	border: 0;
	vertical-align: middle !important;
}

img[alt=jenkins-docker] {
	width: 400px;
	background: white !important;
	border: 0;
	vertical-align: middle !important;
}

img[alt=docker-env] {
	height: 600px;
	background: white !important;
}

img[alt=jira-xray-sequence] {
	height: 600px;
	background: white !important;
}

img[alt=testing-types] {
	width: 300px;
	border: 0;
	vertical-align: middle !important;
}

img[alt=issue-types] {
	width: 300px;
	border: 0;
	vertical-align: middle !important;
}

img[alt=about-xray] {
	width: 400px;
	border: 0;
	vertical-align: middle !important;
}

img[alt=TestRunsReport] {
	border: 0;
	height: 250px;
}

img[alt=test-pic], img[alt=test-set-pic], img[alt=test-plan-pic], img[alt=pre-condition-pic], img[alt=test-execution-pic] {
	border: 0 !important;
	width: 30px;
	padding-right: 10px;
	vertical-align: middle;
}

img[alt=gastrak-test-plan] {
	background: #ffffff;
	height: 550px;
}

#atlassian-logo {
	background: #0052CC;
	height: 119px;
}

#atlassian-logo img{
	border:0;
	display:block; 
	width:100%; 
	height:auto;
	vertical-align: middle;
}

#logo-title-automated-testing {
	border:0;
	background: white;
	width: 400px;
}

#left-split-no-fixed-width {
  left:-8.33%;
  text-align: left;
  float: left;
  z-index:-10;
}

#right-split-no-fixed-width {
  left:31.25%;
  top: 75px;
  float: left;
  text-align: left  !important;
  z-index:-10;
}

#meeting-details {
	text-align: middle;
	font-size: 18pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.test-types {
	list-style-type: none !important;
}

#car-gas-iframe {
	width: 600px;
	height: 400px;
	background: white;
	-ms-zoom: 1.25;
	-moz-transform: scale(1.25);
	-moz-transform-origin: 0 0;
	-o-transform: scale(1.25);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(1.25);
	-webkit-transform-origin: 0 0;
}

#xray-value-add {
	font-size: 24pt;
}