/*********************************/
/* Custom CSS for Pick Your Throwdown!
/*********************************/

body {
  background-image: url( '../../lib/img/global/logo_small.png' ), url( '../../lib/img/Throwdown/explosion_background.png' ) !important;
  background-repeat:no-repeat, no-repeat !important;
  background-attachment: fixed, fixed !important;
  background-position: bottom left, center !important;
  -webkit-background-size: auto, cover !important;
  -moz-background-size: auto, cover !important;
  -o-background-size: auto, cover !important;
  background-size: 100px 100px, cover !important;
}

#logo-title {
	height: 100px !important;
}

#grange-elevate {
	height: 100px;
}

img[alt=fishbowl] {	
	height: 85%;
	width: 45%;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    background-color: white;
}

.text-bubble {
    position: absolute;
    line-height: normal;
}

