
/*********************************/
/* Custom CSS for all my presentations 
/*********************************/


/* text align all table cells to the top */
.reveal table td {
	vertical-align: top;
}

/* page layout of dynamic table with equal columns */
ul.option-table {
    width: 100%;
    display: table;
    table-layout: fixed; 
    vertical-align: top;
}


ul.option-table li {
    display: table-cell;
    text-align: center;
    border-radius: 10px;
  	border: 2px solid #73AD21;
  	padding: 10px;
}

p.cell-detail {
	font-size: 14pt;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: bottom;
}

#logo-title {
	border:0;
	background: white;
}

#logo-end {
	border:0;
	background: white;
}

img[alt=logo-end] {
	border:0;
	background: white !important;
}

img[alt=github] {
	border:0;
	background: white !important;
}

/* hide title h3 but show on footer */
.hide-h3 {
	display: none;
}

#title-right-split {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
  vertical-align: bottom;
  display: block;
  font-size: 18pt;
}


.social-media-block {
	background: rgb(0,0,0,0.5);
	text-align: left;
	padding: 5px;
	border-radius: 25px;
}

.social-media-block img {
	vertical-align: middle;
}

.social-media-block a {
	text-align: top;
	font-size: 24pt;
}

.objective {
	background: rgb(0,0,0,0.5);
	text-align: left;
	border-radius: 25px;
}
.materials {
	background: rgb(0,0,0,0.5);
	text-align: left;
	border-radius: 25px;
}
.table-setup {
	background: rgb(0,0,0,0.5);
	text-align: left;
	border-radius: 25px;
}

.activities {
	background: rgb(0,0,0,0.5);
	text-align: left;
	border-radius: 25px;
}

.activities td {
	font-size: 24pt;
}

/* classic half-screen layout */
#left-split {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}
.text-left {
	text-align: left !important;
}

#right-split {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}


#booklogo {
	display: block;
	width: 550px;
}

#subtitle {
	font-size: 12pt;
	display: block;
	text-align: right;
}

#presenter-name {
	font-size: 24pt;
	display: block;
	text-align: right;
}

#presenter-job-title {
	font-size: 18pt;
	display: block;
	text-align: right;
}

#pst-logo {
	float: right;
}

/* hide the FlipClock labels */
.flip-clock-label { 
	display: none !important; 
}

/* FlipClock blinking dots */
.flip-clock-dot {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/*override AnswerGarden so questionbox does not appear */
#questionbox {
    margin: 0;
    width: 100%;
    padding-top: 5px;
    padding-left: 25px;
    padding-bottom: 1px;
    height: 104px;
    min-height: 104px;
    background-color: #e5e5e5;
    color: #696969;
    display: none;
}

#quote-source {
	text-align: right;
	font-size: 18pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#quote-source-small {
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#citation {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: bottom;
}

.upper-left-image {
	position: fixed;
    width: 600px;
    border: 3px solid #73AD21;
}

/* any image "alt" that ends with h550 */
img[alt$="h550"] {
	height: 550px;
}

/* override i tag for Font Awesome */
.reveal i.fa { 
	font-family:FontAwesome; 
	font-style: normal; 
}

#exercise {
	float: right;
	border-radius: 15px;
	border: 10px solid white;
	color: white;
	background: #73AD21;
	font-family: "Segoe UI";
	font-size: 31px;
	display:inline-block;
	font-weight: 1000;
	padding: 10px; 
	height: auto;
	vertical-align: top;
}

/* two boxes across a screen */
.flex-container-2 {
	/* main container */
  display: flex;
  flex-wrap: nowrap;
  background-color: White;
}

.flex-container-2 .box2 {
	/* each box within main container */
  background-color: black;
  width: 50%;
  margin: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* three boxes across a screen */
.flex-container-3 {
	/* main container */
  display: flex;
  flex-wrap: nowrap;
  background-color: White;
}

.flex-container-3 .box3 {
	/* each box within main container */
  background-color: black;
  width: 33%;
  margin: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* four boxes across a screen */
.flex-container-4 {
	/* main container */
  display: flex;
  flex-wrap: nowrap;
  background-color: White;
}

.flex-container-4 .box4 {
	/* each box within main container */
  background-color: black;
  width: 25%;
  margin: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

img[alt=rsa-services] {
	height: 450px;
}
