/*********************************/
/* Custom CSS for What Is Self Organization Anyway?
/*********************************/

body {
  background-image: url( '../../lib/img/global/logo_small.png' ), url( '../../lib/img/global/workinghands.png' ) !important;
  background-repeat:no-repeat, no-repeat !important;
  background-attachment: fixed, fixed !important;
  background-position: bottom left, center !important;
  -webkit-background-size: auto, cover !important;
  -moz-background-size: auto, cover !important;
  -o-background-size: auto, cover !important;
  background-size: 100px 100px, cover !important;
}

#logo-title {
	height: 100px !important;
}

#grange-elevate {
	height: 100px;
}

#pst-logo {
	height: 100px !important;
}
